.container
  .hero.home-stripe
    .content-row
      %h1 Open Student Loan Project

      %h2= link_to 'See some examples', examples_path

  .audience.home-stripe
    .content-row
      %h2 Who benefits?

      .row
        .col-8
          %h3 Students

          Lorem ipsum dolor sit ameto

        .col-8
          %h3 Institutions

          Lorem ipsum dolor sit ameto

        .col-8
          %h3 Companies

          Lorem ipsum dolor sit ameto

  .contributors.home-stripe
    .content-row
      %h2 You can help

      .row
        .col-8
          %h3 Students

          Lorem ipsum dolor sit ameto

        .col-8
          %h3 Institutions

          Lorem ipsum dolor sit ameto

        .col-8
          %h3 Companies

          Lorem ipsum dolor sit ameto

  .contact.home-stripe
    .content-row
      %h2 Contact

      Email

      Twitter
