.container
  .hero.home-stripe
    .content-row
      %h1 THE OPEN
      %h1 LOANS PROJECT
      %h3 AN OPEN DATA SET FOR STUDENT LOANS.

      %p The Open Loans project is powered by a growing dataset of over 50,000 student loans, accessible via a simple API. Easily research and visualize key data such as interest rates, loans per student, and defaults over time. Power new applications designed to help students make better decisions about how they pay for college.

      %p.header-links= link_to 'See some examples', examples_path
      %p.header-links= link_to 'Get In Touch', examples_path
  .audience.home-stripe
    .content-row
      %h2 Who benefits?

      .row
        .col-8
          %h3 Developers

          %p Building a product to help educate students about loans? Use our data to power recommendations or provide information directly to students.

        .col-8
          %h3 Financial aid offices

          %p Use Open Loans data to better advise students dealing with student loans. Compare your internal metrics to similar schools or student cohorts.

        .col-8
          %h3 Researchers

          %p Open Loans data can be a powerful tool for ongoing research. Or, discover interesting new problems to investigate with our easy to visualize data sets.

  .contributors.home-stripe
    .content-row
      %h2 You can help

      .row
        .col-8
          %h3 Companies

          %p Companies can share their data securely and anonymously, or can become sponsors of the project.

        .col-8
          %h3 Universities

          %p Universities can contribute their anonymous loan data to the public domain.

        .col-8
          %h3 Researchers

          %p Researchers can publish their complete data sets for review and use by the community.

  .contact.home-stripe
    .content-row
      %h2 Contact

      Email

      Twitter
