

.home-stripe {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.hero-content {
  width: 650px;
  margin: auto;
}

.hero h1 {
  text-align: center;
  color: $primary_green;
  font-weight: normal;
  font-size: 4.5em;
  font-family: "Lato-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}

.hero h3 {
  text-align: center;
  color: #777;
  font-size: 1.8em;
  font-weight: normal;
  font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}

.hero p {
  text-align: left;
  color: #777;
  font-size: 1em;
  line-height: 1.7em; 
  font-weight: normal;
  font-family: "Merriweather-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px 0 0 0;
}

.hero p.header-links a {
  color: $primary_green;
  font-weight: normal;
  font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}

.hero p.header-links {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}

.content-heading {
  color: #444;
  font-size: 1.8em;
  font-weight: normal;
  font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 40px 0;
}



.audience {
  background: #ECF1EF;
}

.sub-title {
  color: #333;
  font-size: 1.4em;
  font-family: "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.image-wrapper {
  height: 128px;
}

.white-text {
  color: #fff;
}

.contributors {
}

.contact {
  background: $primary_green;
  color: #fff;
}

.us ul {
  list-style-type: none; 
}

.us ul li a {
  color: $primary_green;
  font-weight: normal;
  font-family: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}
